// костыль, но адаптивность не работает внутри свг, если это спрайт

.page-footer__logo-image {
  display: block;
  pointer-events: none;
}

.page-footer__logo-image use:first-child {
  display: block;

  @media @desktop {
    display: none;
  }
}

.page-footer__logo-image use:last-child {
  display: none;

  @media @desktop {
    display: block;
  }
}
