.form-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 29px;
  background-color: inherit;

  @media @tablet {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 29px;
  }

  @media @desktop {
    padding: 21px 40px 37px 60px;
  }
}

.form-photo__image {
  display: block;
  box-sizing: border-box;
  width: 280px;
  height: 374px;
  background-image: url("../img/photo-road-mobile@1x.jpg");
  background-position: 50% 0;
  background-size: auto;
  background-repeat: no-repeat;
  cursor: pointer;

  @media @tablet {
    margin-top: 16px;
    margin-left: auto;
    width: 300px;
    height: 400px;
    background-image: url("../img/photo-road-tablet@1x.jpg");
  }

  @media @desktop {
    margin-left: 0;
    background-image: url("../img/photo-road-desktop@1x.jpg");
  }
}

.form-photo__controls {
  box-sizing: border-box;

  @media @tablet {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  @media @desktop {
    margin-right: 0;
  }
}

.form-photo__filters {
  padding: 42px 20px 38px;

  @media @tablet {
    margin-bottom: 66px;
    padding: 0;
  }

  @media @desktop {
    margin-bottom: 145px;
  }
}

.form-photo__filters-buttons {
  display: flex;
  justify-content: space-around;
  width: 240px;

  @media @tablet {
    display: none;
  }
}

.form-photo__filter-button {
  padding: 0;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: 1px dashed @pink;
  }
}

.form-photo__filter-button--clipping {
  width: 44px;
  height: 44px;
}

.form-photo__filter-button--fill {
  width: 48px;
  height: 43px;
}

.form-photo__filter-button--contrast {
  width: 32px;
  height: 32px;
}

.form-photo__filter {
  position: relative;
  top: 0;
  display: none;
  align-items: center;
  height: 72px;

  @media @tablet {
    display: flex;
  }

  &::after {
    content: "";
    position: absolute;
    left: -40px;
    bottom: 0;
    width: calc(100% + 80px);
    height: 1px;
    background-color: #dddfe0;

    @media @tablet {
      left: 0;
      width: 100%;
    }
  }
}

.form-photo__filter--mobile {
  display: flex;
}

.form-photo__icon-wrapper {
  display: none;
  justify-content: center;
  align-items: center;

  @media @tablet {
    display: flex;
    flex-basis: 100%;
  }
}

.form-photo__icon-wrapper & .form-photo__icon {
  fill: @pink;
}

.form-photo__filter-range {
  .style-reset--input(100%; 2px; 14px);

  margin-left: auto;
  width: 75%;
  height: 2px;
  background-color: #283645;

  @media @tablet {
    margin-right: 18px;
    width: 202px;
  }

  @media @desktop {
    margin-right: 30px;
    width: 288px;
  }
}

.form-photo__buttons {
  padding: 0;

  @media @desktop {
    display: flex;
    justify-content: space-between;
  }
}

.form-photo__button {
  display: block;
  box-sizing: border-box;
  margin-bottom: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  text-decoration: none;

  @media @tablet {
    margin: 0 auto;
    margin-bottom: 26px;
    width: 260px;
  }

  @media @desktop {
    margin-bottom: 0;
    width: 45%;
  }
}

.form-photo__button--submit {
  color: @pink;
  border: 3px solid #d22856;
  border-radius: 30px;

  &:hover {
    color: @white;
    background-color: #d22856;
  }

  &:active {
    color: fade(@white, 30%);
  }
}

.form-photo__button--cancel {
  color: #dddfe0;
  border-width: 3px;
  border-style: solid;
  border-color: fade(#283645, 10%);
  border-radius: 30px;

  &:hover {
    border-color: fade(#283645, 30%);
    color: fade(#283645, 30%);
  }

  &:active {
    border-color: fade(#283645, 0%);
    color: fade(@white, 30%);
    background-color: fade(#283645, 30%);
  }
}
