.form-feedback {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 2em;

  @media @tablet {
    max-width: @tablet-width;
  }

  @media @desktop {
    max-width: @desktop-width - 240;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

//обертки

.form-feedback__name-wrapper {
  padding-bottom: 42px;

  @media @tablet {
    padding-top: 34px;
    padding-bottom: 32px;
    max-width: 660px;
    order: 0;
  }

  @media @desktop {
    padding: 36px 10px 30px;
    flex-basis: 45%;
  }
}

.form-feedback__achivment-wrapper {
  margin: 0;
  padding-top: 38px;
  padding-bottom: 4px;
  box-sizing: border-box;
  background-color: #f2f2f2;

  @media @tablet {
    margin: 0 auto;
    padding: 30px 0;
    max-width: @tablet-width;
    background-color: @white;
    order: 3;
  }

  @media @desktop {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
    order: 2;
  }
}

.form-feedback__contacts-wrapper {
  margin: 0 auto;
  padding-bottom: 41px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  min-width: @mobile-width;

  @media @tablet {
    padding-top: 65px;
    padding-bottom: 30px;
    padding-left: 22px;
    padding-right: 22px;
    max-width: 660px;
    order: 2;
  }

  @media @desktop {
    padding: 65px 10px 30px;
    max-width: 1200px;
    order: 3;
  }
}

.form-feedback__platform-wrapper {
  margin: 0;
  padding: 39px 0 42px;
  min-width: @mobile-width;
  background-color: #f2f2f2;
  box-sizing: border-box;

  @media @tablet {
    margin: 0 auto;
    padding: 25px 0 0;
    background-color: @white;
    max-width: @tablet-width;
    order: 1;
  }

  @media @desktop {
    margin: 0;
    padding-top: 30px;
    flex-basis: 50%;
  }
}

.form-feedback__emotions-wrapper {
  padding-bottom: 20px;

  @media @tablet {
    padding-top: 30px;
    padding-bottom: 40px;
    order: 4;
    flex-basis: 100%;
  }
}

.form-feedback__submit-wrapper {
  padding: 29px 22px 15px;

  @media @tablet {
    flex-basis: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    order: 5;
  }
}

.form-feedback__fieldset-fullname {
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  border: none;

  @media @tablet {
    max-width: 616px;
  }
}

// списки

.form-feedback__name-list,
.form-feedback__contacts-list,
.form-feedback__platform-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media @tablet {
    display: flex;
  }

  @media @desktop {
    justify-content: space-between;
  }
}

.form-feedback__name-list {
  @media @tablet {
    margin-top: 5px;
    flex-direction: column;
    justify-content: space-between;
  }
}

.form-feedback__achivments-list {
  list-style: none;
  padding-left: 60px;
  margin: 0;

  @media @tablet {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media @desktop {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

.form-feedback__contacts-list {
  @media @tablet {
    flex-direction: column;
  }

  @media @desktop {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.form-feedback__platform-list {
  margin-top: 40px;
  padding-left: 53px;
  box-sizing: border-box;
  min-width: 320px;

  @media @tablet {
    margin-top: 0;
    padding-left: 0;
    flex-direction: column;
    justify-content: flex-start;
  }
}

// пункты списков

.form-feedback__name-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;

  @media @tablet {
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 56px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form-feedback__contacts-item {
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;

  @media @tablet {
    flex-flow: row wrap;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media @desktop {
    margin-bottom: 0;
  }
}

.form-feedback__label {
  margin-left: 22px;
  height: auto;
  box-sizing: border-box;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;

  @media @tablet {
    display: inline-block;
    flex: none;
    margin-left: 0;
    margin-right: 1em;
  }
}

.form-feedback__label--fullname {
  margin-right: 20px;
}

.form-feedback__label--contacts {
  @media @tablet {
    flex-basis: 100%;
    margin: 17px;
    order: 1;
  }
}

.form-feedback__input {
  position: relative;
  padding-left: 20px;
  box-sizing: border-box;
  height: 59px;
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  background-color: inherit;

  &:hover {
    border-color: #283645;
  }

  &:focus {
    outline: 0;
    border-color: #d22856;
  }
}

.form-feedback__input--fullname {
  @media @tablet {
    flex-basis: 100%;
  }
}

.form-feedback__input--phone,
.form-feedback__input--email {
  @media @tablet {
    width: 410px;
  }

  @media @desktop {
    width: 312px;
  }
}

.form-feedback__icon-wrapper {
  display: none;
  background-color: #e5e5e5;

  @media @tablet {
    width: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.form-feedback__icon {
  margin: auto;
  display: block;
  border: none;
}

.form-feedback__achivment-item {
  margin-bottom: 50px;
  padding: 0;

  @media @desktop {
    flex-basis: 30%;
    flex-grow: 1;

    &:nth-child(even) {
      order: 2;
    }

    &:nth-child(2n+3) {
      order: 1;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}


.form-feedback__fieldset-achivment {
  position: relative;
  padding: 38px 0;
  box-sizing: border-box;

  @media @tablet {
    padding-top: 52px;
    padding-left: 58px;
    padding-bottom: 60px;
    min-width: @tablet-width - 44;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  @media @desktop {
    padding: 52px 8px 13px 58px;
  }
}

.form-feedback__legend {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;

  @media @tablet {
    content: "";
    transform: translateY(0);
  }
}

.form-feedback__legend--fullname {
  display: none;

  @media @desktop {
    display: block;
  }
}

.form-feedback__legend--contacts {
  display: none;

  @media @tablet {
    display: block;
    position: sticky;
    background-color: @white;
  }
}

.form-feedback__checkbox + .form-feedback__checkbox-sign::after,
.form-feedback__radio + .form-feedback__radio-sign::after {
  content: none;
}

.form-feedback__checkbox:checked + .form-feedback__checkbox-sign::after,
.form-feedback__radio:checked + .form-feedback__radio-sign::after {
  content: "";
}

.form-feedback__checkbox-sign,
.form-feedback__radio-sign {
  position: relative;
  flex: none;
  padding: 0 17px;
  padding-top: 5px;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 30px;
  text-align: left;

  &:focus {
    outline: 1px dashed #d22856;
    outline-offset: 2px;
  }
}

.form-feedback__checkbox-sign {
  &::before {
    content: "";
    position: absolute;
    left: -45px;
    display: inline-block;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border: 1px solid @light-gray;
    border-radius: 1px;
    z-index: 1;
  }

  &:hover::before {
    border-color: #283645;
  }

  &:active::before {
    border-color: #d22856;
  }

  &::after {
    content: "";
    position: absolute;
    left: -38px;
    margin-top: 7px;
    width: 20px;
    height: 14px;
    border-radius: 1px;
    border-left: 2px solid @pink;
    border-bottom: 2px solid @pink;
    transform: rotate(-45deg);
    opacity: 1;
  }
}

.form-feedback__radio-sign {
  &::before {
    content: "";
    position: absolute;
    left: -45px;
    display: inline-block;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border: 1px solid @light-gray;
    border-radius: 50%;
    z-index: 1;
  }

  &:hover::before {
    border-color: #283645;
  }

  &:active::before {
    border-color: #d22856;
  }

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: -35px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: @pink;
    border-radius: 50%;
  }
}

.form-feedback__fieldset-contacts {
  position: relative;
  margin: 0;
  box-sizing: border-box;

  @media @tablet {
    padding-top: 35px;
    padding-left: 60px;
    padding-right: 60px;
    min-width: 616px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  @media desktop {
    padding: 43px 58px 13px;
  }
}

.form-feedback__fieldset-platform {
  position: relative;
  margin: 0;

  @media @tablet {
    margin-left: auto;
    margin-right: auto;
    padding-top: 44px;
    padding-bottom: 40px;
    min-width: @tablet-width - 44;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  @media @desktop {
    margin-right: 10px;
    min-width: auto;
    max-width: @tablet-width - 229;
    padding-top: 54px;
  }
}

.form-feedback__platform-item {
  margin: 0 auto 36px;
  padding: 0 20px;
  width: @mobile-width - 40;
  display: flex;
  justify-content: flex-start;

  &:last-child {
    margin-bottom: 0;
  }
}


.form-feedback__fieldset-emotion {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  @media @tablet {
    padding: 47px 60px 53px;
    max-width: @tablet-width - 44;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  @media @desktop {
    max-width: @desktop-width - 264;
  }
}

.form-feedback__textarea {
  position: relative;
  box-sizing: border-box;
  margin-top: 16px;
  padding: 14px 19px;
  width: 100%;
  min-height: 200px;
  resize: vertical;
  border-color: #e5e5e5;
  color: #283645;

  @media @tablet {
    margin-top: 0;
    font-size: 18px;
    line-height: 30px;
  }
}

.form-feedback__submit-button {
  margin: 0 auto;
  padding: 15px;
  display: block;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;
  border: 0;
  border-width: 2px;
  border-style: solid;
  border-color: #2aab6d;
  border-radius: 1px;
  background-color: #2aab6d;

  &:hover {
    border-color: #1c9b5e;
    background-color: #1c9b5e;
  }

  &:active {
    color: fade(@white, 30%);
  }

  &:disabled {
    color: @white;
    background-color: #e5e5e5;
    border: 2px solid #e5e5e5;
  }

  @media @tablet {
    margin: 0;
    flex-basis: 50%;
  }

  @media @desktop {
    align-self: flex-start;
  }
}

.form-feedback__notification {
  margin-top: 36px;
  margin-bottom: 0;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  @media @tablet {
    margin-top: 0;
    flex: none;
  }
}

.form-feedback__notification span {
  display: none;

  @media @desktop {
    display: inline;
  }
}
