.page-inner__form-feedback {
  max-width: @desktop-width;

  @media @tablet {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  @media @desktop {
    flex-flow: row wrap;
    padding: 0 10px;
  }
}

.form-feedback__name-wrapper {
  padding-bottom: 42px;

  @media @tablet {
    padding-top: 34px;
    padding-bottom: 32px;
  }

  @media @desktop {
    padding-top: 36px;
    padding-bottom: 30px;
    width: @desktop-width / 3;
    order: 0;
  }
}

.form-feedback__fieldset-fullname {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0 20px;
  border: none;

  @media @tablet {
    padding: 0;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
}

// первая форма отправки

.form-feedback__contacts-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media @tablet {
    padding: 0 20%;
    justify-content: space-between;
  }
}

.form-feedback__contacts-item {
  @media @tablet {
    display: flex;
    flex-direction: column;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form-feedback__contacts-item input {
  @media @tablet {
    width: @tablet-width - 40%;
    order: 0;
    background-color: #e5e5e5;

    &:nth-child(1) {
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
    }

    &:nth-child(2) {
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
    }
  }
}

.form-feedback__label {
  flex: initial;
  display: block;
  margin-left: 22px;
  margin-bottom: 5px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.form-feedback__label--fullname {
  display: inline-block;
  margin-right: 20px;
}

.form-feedback__label--contacts {
  margin: 9px 0;
  order: 1;
}

.form-feedback__input {
  display: block;
  color: #283645;
  font-size: 18px;
  line-height: 30px;

  @media @tablet {
    display: inline;
  }

  &:hover {
    border-color: #283645;
  }

  &:focus {
    outline: 0;
    border-color: #d22856;
  }
}

// блоки до кнопки

.form-feedback__achivment-wrapper {
  padding-top: 38px;
  padding-bottom: 4px;
  display: block;
  background-color: #f2f2f2;

  @media @tablet {
    padding-top: 34px;
    padding-bottom: 30px;
    background-color: @white;
  }

  @media @desktop {
    width: 100%;
    order: 2;
  }
}

.form-feedback__fieldset-achivment {
  position: relative;
  margin: 0;
  padding: 38px 0;

  @media @tablet {
    padding: 52px 58px 49px;
  }

  @media @desktop {
    padding: 52px 8px 13px 58px;
  }
}

.form-feedback__legend {
  display: block;
  box-sizing: border-box;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;

  @media @tablet {
    transform: translateY(-50%);
  }
}

.form-feedback__legend--contacts {
  display: none;

  @media @tablet {
    display: block;
    position: sticky;
    background-color: @white;
  }
}

.form-feedback__achivments-list,
.form-feedback__platform-list {
  list-style: none;
  display: flex;
  flex-direction: column;

  @media @tablet {
    justify-content: space-between;
  }
}

.form-feedback__achivments-list {
  @media @desktop {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

.form-feedback__achivment-item {
  margin-bottom: 43px;

  @media @desktop {
    width: 260px;

    &:nth-child(even) {
      order: 2;
    }

    &:nth-child(2n+3) {
      order: 1;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form-feedback__achivment-layout,
.form-feedback__platform-layout {
  margin: 0;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-feedback__checkbox {
  width: 35px;
  height: 35px;

  &:focus + .form-feedback__checkbox-sign {
    outline: 1px dashed #d22856;
    outline-offset: 2px;
  }

  &:checked + .form-feedback__checkbox-sign {
    &::after {
      content: "";
    }
  }

  &:disabled + .form-feedback__checkbox-sign {
    &::before,
    &::after {
      border-color: fade(#e5e5e5, 50%);
    }
  }
}

.form-feedback__checkbox-sign,
.form-feedback__radio-sign {
  flex: auto;
  margin-left: auto;
  padding: 0 17px;
  padding-top: 5px;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.form-feedback__checkbox-sign {
  &:hover::before {
    border-color: #283645;
  }
}

.form-feedback__contacts-wrapper {
  padding-top: 33px;
  padding-bottom: 41px;
  display: block;

  @media @tablet {
    padding-top: 34px;
    padding-bottom: 30px;
  }

  @media @desktop {
    width: 100%;
    order: 3;
  }
}

.form-feedback__fieldset-contacts {
  position: relative;
  margin: 0;

  @media @tablet {
    padding: 46px 58px 26px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
  }

  @media desktop {
    padding: 43px 58px 13px;
  }
}

.form-feedback__platform-wrapper {
  padding-top: 39px;
  padding-bottom: 8px;
  background-color: #f2f2f2;

  @media @tablet {
    padding-top: 34px;
    padding-bottom: 30px;
    background-color: @white;
  }

  @media @desktop {
    padding-top: 30px;
    max-width: 435px;
    order: 1;
  }
}

.form-feedback__fieldset-platform {
  position: relative;
  margin: 0;
  padding: 34px 0;

  @media @tablet {
    padding: 52px 58px 55px;
  }

  @media @desktop {
    padding: 54px 50px 56px 74px;
    width: auto;
  }
}

.form-feedback__platform-item {
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-feedback__emotions-wrapper {
  padding-top: 39px;
  padding-bottom: 20px;

  @media @desktop {
    order: 4;
  }
}

.form-feedback__textarea {
  margin-top: 16px;
  padding: 14px 19px;
  min-height: 200px;
  resize: vertical;
}

.form-feedback__submit-wrapper {
  padding: 29px 20px 15px;

  @media @desktop {
    order: 5;
  }
}

.form-feedback__submit-button {
  margin: 0;
  padding: 15px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;
  border: 0;
  border-width: 2px;
  border-style: solid;
  border-color: #2aab6d;
  border-radius: 1px;
  background-color: #2aab6d;

  &:hover {
    border-color: #1c9b5e;
    background-color: #1c9b5e;
  }

  &:active {
    color: fade(@white, 30%);
  }
}

.form-feedback__notification {
  margin-top: 36px;
  margin-bottom: 0;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
