.gallery {
  position: relative;
  padding-top: 15px;

  @media @tablet {
    padding-top: 39px;
  }
}

.gallery__photo-hot {
  position: relative;
  margin: 0;
  width: auto;

  @media @tablet {
    margin: 0 auto;
  }

  @media @desktop {
    margin: 0;
  }
}

.gallery__photo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  row-gap: 20px;

  @media @tablet {
    width: 94%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  @media @desktop {
    width: 79%;
    margin-bottom: 0;
  }
}

.gallery__photo {
  margin: 0;
  width: @mobile-width - 40;

  @media @tablet {
    width: @desktop-width / 4;
    display: flex;
    flex-direction: column;
  }

  @media @desktop {
    flex-basis: 32%;
  }
}

.gallery__photo--hot {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: auto;
  max-width: 100vw;
}
