.header-logo__image {
  display: block;
  width: 74px;
  height: 24px;
  pointer-events: none;

  @media @tablet {
    width: 146px;
    height: 40px;
  }
}

.header-logo__image--mobile {
  @media @tablet {
    display: none;
  }
}

.header-logo__image--tablet {
  display: none;

  @media @tablet {
    display: block;
  }

  @media @desktop {
    display: none;
  }
}

.header-logo__image--desktop {
  display: none;

  @media @desktop {
    display: block;
  }
}
