// меню при любых значениях выравнивания прижимается к правому краю

.main-menu {
  display: block;
  box-sizing: border-box;
  line-height: 32px;
  width: 300px;
}

.main-menu__item {
  display: block;
  padding: 15px 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #000;
  text-align: center;
}

.main-menu__link {
  display: inline;
  font-size: 18px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}
