.main-nav {
  margin: 0 auto;
//  display: flex;
//  flex-wrap: wrap;
  width: 320px;
//  justify-content: space-between;
//  align-items: center;
}

.main-nav__logo-wrapper {
//  align-self: flex-start;
//  display: flex;
//  justify-content: space-between;
  padding: 20px 23px;
  width: auto;
  background-color: #283645;
  box-shadow: 0 1px 0 #000000;
}

// не забыть выделить блок отдельно. 'элементы флекс формы'

.main-nav__header-logo {
//  align-self: flex-start;
//  flex-basis: auto;
  padding: 0;
  margin-right: 183px;
  display: block;
  background-color: transparent;
  width: 74px;
  height: 23px;

  &:hover {
    color: #d22856;
  }
}

.header-logo__image {
  display: block;
  position: relative;
  min-width: 74px;
  min-height: 23px;
}

.main-nav__toggle {
//  align-self: flex-end;
//  flex-basis: 23px;
//  flex-grow: 0;
  display: block;
  position: relative;
  left: 277px;
  padding: 0;
  border: 1px solid green;
  height: 23px;
  color: white;


  &:hover,
  &:active {
    color: #d22856;
  }
}
