.map {
  position: relative;
  box-sizing: content-box;
  overflow: hidden;
  padding: 0 20px;
  min-width: @mobile-width;
  max-width: @desktop-width;
  height: 20vh;

  @media @desktop {
    padding-left: 10px;
    padding-right: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 10;
    height: 33px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% 33px;

    @media @tablet {
      height: 67px;
      background-size: 100% 67px;
    }

    @media @desktop {
      height: 104px;
      background-size: 100% 104px;
    }
  }
}

.map__image {
  position: absolute;
  top: -222%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto;

  @media @tablet {
    top: -93%;
    background-image: url("../img/bg-map-tablet@1x.jpg");
  }

  @media @desktop {
    top: -53%;
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }
}

.map__marker {
  position: absolute;
  z-index: 20;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
  width: 35px;
  height: 35px;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-size: 35px 35px;
}
