.page-footer {
  margin: 0;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-footer__content-wrapper {
  margin: auto 0;
  padding: 0;
  flex: initial;
}

.page-footer__icon-wrapper {
  display: block;
  width: 146px;
  height: 40px;
  color: #283645;
  border: 1px solid #283645;
}

.page-footer__logo {
  display: block;
  width: 146px;
  height: 40px;
  pointer-events: none;
  color: #283645;
  background-color: inherit;
  background-image: url("../img/logo-pink-blue-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-footer__copyright {
  flex: initial;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 10%;
  width: auto;
}

.page-footer__copyright-text {
  flex: auto;
  flex-basis: 80%;
  margin-right: auto;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}

.page-footer__copyright-link {
  margin: 0;
  flex: none;
  display: block;
  color: #d22856;
  width: 27px;
  height: 34px;
  background-color: @white;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
