.page-inner {
  margin: 0 auto;
  padding: 0;
  width: auto;
  min-width: @mobile-width;
  max-width: @desktop-width;
  background-color: inherit;
}

.page-inner__title-wrapper {
  .content-wrapper;

  padding-top: 45px;
  padding-bottom: 34px;

  @media @tablet {
    padding-top: 92px;
    padding-bottom: 38px;
  }

  @media @desktop {
    padding-bottom: 49px;
  }
}

.page-inner__title {
  margin: 0 auto;
  max-width: 500px;
  line-height: 30px;
  text-align: center;

  @media @tablet {
    margin: 0 auto;
    font-size: 18px;
  }

  @media @desktop {
    max-width: 756px;
  }
}

.page-inner__title span {
  display: none;

  @media @tablet {
    display: block;
  }

  @media @desktop {
    display: inline;
  }
}

.page-inner__form-feedback {
  margin: 0 auto;
}
