.page-header {
  width: inherit;
  height: auto;
  color: #ffffff;
  background-color: @dark-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 279px;
  background-repeat: no-repeat;

  @media @retina {
    background-image: url("../img/bg-back-mobile@1x.jpg");
  }

  @media @tablet {
    background-color: inherit;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 259px;

    @media @retina {
      background-image: url("../img/bg-back-tablet@1x.jpg");
    }
  }

  @media @desktop {
    background-color: transparent;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 0;

    @media @retina {
      background-image: url("../img/bg-back-desktop@1x.jpg");
    }
  }
}

.page-header__nav-wrapper {
  background-color: #283645;

  @media @desktop {
    background-color: fade(@black, 30%);
  }
}

.page-header__logo {
  width: 146px;
  height: 40px;

  @media @tablet {
    width: auto;
    height: auto;
  }

  @media @desktop {
    width: auto;
  }
}

// uncorrect width in media

.page-header__store {
  margin: 0 auto;
  padding: 0 20px 30px;
  width: @mobile-width - 40;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: 50% 110px;
  background-size: auto;
  background-repeat: no-repeat;

  @media @retina {
    background-image: url("../img/iphone-hand-mobile@1x.png");
  }

  @media @tablet {
    margin-bottom: -10px;
    padding: 90px 0 105px;
    width: @tablet-width - 40;
    max-width: @tablet-max-width;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -20px bottom;

    @media @retina {
      background-image: url("../img/iphone-hand-tablet@1x.png");
    }
  }

  @media @desktop {
    padding: 108px 122px 124px;
    min-width: @desktop-width - 20;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 39% bottom;

    @media @retina {
      background-image: url("../img/iphone-hand-desktop@1x.png");
    }
  }
}

.page-header__title-wrapper {
  padding: 15px 20px 40px;
  min-height: auto;

  @media @tablet {
    padding-top: 36px;
    padding-bottom: 46px;
    min-height: 330px;
  }

  @media @desktop {
    padding-top: 29px;
    padding-bottom: 67px;
    min-height: 284px;
  }
}

.page-header__title {
  margin: 16px 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  visibility: visible;

  @media @tablet {
    margin: 34px 0;
    font-size: 50px;
    line-height: 60px;
  }
}
