.page {
  margin: 0 auto;
  min-width: @mobile-width;
  height: auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: @dark-blue;
  background-color: @white;

  @media @tablet {
    max-width: @tablet-max-width;
  }

  @media @desktop {
    max-width: none;
  }
}
