.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 990px;
  background-color: #283645;
  color: #ffffff;
  }

.page-header__nav-wrapper {
  background-color: #283645;
}

.page-header__store {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 280px;
  height: auto;
  // придумать как вставить бек
}

.page-header__title-wrapper {
  padding: 15px 20px 40px;
  min-height: 171px;
}

.page-header__title {
  margin: 16px 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}
