.page-footer {
  margin: 0 auto;
  padding: 40px 0;
  min-width: @mobile-width;
  max-width: @desktop-width;

  @media @tablet {
    padding: 39px 0 40px;
  }

  @media @desktop {
    padding-top: 74px;
    padding-bottom: 75px;
  }
}

.page-footer__content-wrapper {
  width: auto;
  height: 204px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media @tablet {
    padding-left: 20px;
    padding-right: 20px;
    height: 48px;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  @media @desktop {
    padding: 0 130px;
  }
}

.page-footer__icon-wrapper {
  display: block;
  color: #283645;

  @media @tablet {
    margin-right: auto;
  }
}

.page-footer__logo {
  position: relative;
  display: block;
  box-sizing: border-box;
  color: #283645;
  pointer-events: none;

  &[href]:hover {
    color: @pink;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media @tablet {
    margin-left: auto;
    margin-right: 0;
  }
}

.page-footer__copyright-text {
  margin-right: 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;

  @media @tablet {
    font-size: 18px;
    font-weight: bold;
  }
}

.page-footer__copyright-link {
  margin: 0;
  display: flex;
  background-color: transparent;
}
