.page-header {
  width: inherit;
  height: auto;
  color: #ffffff;
  background-color: #283645;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 380px;
  background-repeat: no-repeat;
}

.page-header__nav-wrapper {
  background-color: #283645;
}

.page-header__store {
  position: relative;
  top: 0;
  margin: 0 auto;
  padding: 0;
  width: auto;
  height: auto;
}

.page-header__title-wrapper {
  padding: 15px 20px 40px;
  height: auto;
}

.page-header__title {
  margin: 16px 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}
