.page-main {
  width: inherit;
}

.page-main__titles {
  margin: 0 auto;
  padding: 41px 20px 32px;
  max-width: @desktop-width - 260;

  @media @tablet {
    padding: 49px 20px 48px;
  }

  @media @desktop {
    padding: 67px 10px 76px;
  }
}

.page-main__title {
  margin: 0 auto;
  margin-bottom: 31px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;

  @media @tablet {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 48px;
  }

  @media @desktop {
    font-size: 50px;
    line-height: 60px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.page-main__title:last-child {
  @media @tablet {
    text-indent: 30pt;
  }
}
