.photo-editor {
  position: relative;
  display: block;
  padding: 0;
  width: inherit;
}

.photo-editor__content-wrapper {
  position: relative;
  width: auto;
  padding-top: 43px;
  padding-bottom: 42px;
}

.photo-editor__title {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.photo-editor__form-wrapper {
  background-color: @silver;
}
