.photo__link {
  position: relative;
  top: 0;
  overflow: hidden;
  display: block;
  width: 320px;
  height: 137px;
  color: #ffffff;
  text-decoration: none;

  @media @tablet {
    display: flex;
    flex-direction: column;
    width: 340px;
  }
}

.photo__link--hot {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: auto;
  max-width: @mobile-width;

  @media @tablet {
    max-width: @tablet-width + 40px;
  }

  @media @desktop {
    max-width: @desktop-width;
  }
}

.photo__link span {
  position: absolute;
  top: 0;
  left: 140px;
  z-index: 999;
  display: block;
  padding: 14px 20px;
  width: 120px;
  height: 20px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: inherit;
  background-color: @pink;
  border: 0;
}

.photo__image {
  max-width: 100%;
  height: auto;
  display: block;
}

.photo__image--hot {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: auto;
  max-width: @mobile-width;

  @media @tablet {
    max-width: @tablet-width + 40px;
  }

  @media @desktop {
    max-width: @desktop-width;
  }
}

.photo__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 18px 17px 21px;
  background-color: #f2f2f2;

  @media @tablet {
    padding: 23px 32px 24px 27px;
  }
}

.photo__content--hot {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;

  @media @tablet {
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 24px 29px 13px 27px;
    width: @tablet-width - 40px;
  }

  @media @desktop {
    padding: 24px 32px 12px 27px;
    width: @desktop-width - 260px;
  }
}

.photo__author {
  margin: 0;
}

.photo__author-name {
  font-weight: 700;
}

.photo__likes {
  display: flex;
  align-items: center;
  margin-top: auto;

  @media @tablet {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.photo__date,
.photo__like-count {
  font-size: 12px;
  text-transform: uppercase;
}

.photo__date {
  margin-left: 5px;
  font-weight: 300;
}

.photo__like-count {
  margin-left: 19px;
  color: #d22856;
}

.photo__text {
  margin-top: 0;
  margin-bottom: 9px;
}

.photo__like-button {
  padding: 0;
  width: 13px;
  height: 12px;
  display: block;
  border: 0;
  background-color: @pink;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
