.price {
  .content-wrapper;

  padding-top: 91px;
  padding-bottom: 32px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;

  @media @tablet {
    padding-top: 60px;
    padding-bottom: 0;
  }

  @media @desktop {
    padding-top: 112px;
    padding-bottom: 15px;
  }
}

.price__title {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  visibility: hidden;

  @media @desktop {
    margin-bottom: 0;
  }
}

.price__slider {
  margin: 0 auto;
  max-width: @desktop-width;
  overflow: hidden;
  line-height: 30px;
  text-transform: uppercase;
}

.price__slider-controls {
  margin-top: 50px;
  margin-bottom: 15px;

  @media @tablet {
    display: none;
  }
}
