.slider-reviews {
  position: relative;
  margin: 0 auto;
  padding: 29px 20px;
  box-sizing: border-box;
  text-align: center;

  @media @tablet {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media @desktop {
    padding-top: 155px;
    padding-bottom: 40px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 68px;
    background-size: 79px 63px;
  }
}

.slider-reviews__slide {
  display: block;
  box-sizing: border-box;
  line-height: 30px;

  @media @tablet {
    padding-top: 26px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }

  @media @desktop {
    margin: 0 auto;
    padding: 0;
    width: 780px;
  }
}

.slider-reviews__author {
  margin: 5% 0;
  flex-basis: 10%;
  font-size: 18px;
  font-weight: bold;
  color: #000000;

  @media @tablet {
    order: 1;
    font-size: 20px;
  }

  @media @desktop {
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
  }
}


.slider-reviews__author-description {
  display: none;

  @media @tablet {
    order: 2;
    margin: 0;
    flex-basis: 10%;
    display: block;
  }

  @media @desktop {
    font-size: 18px;
  }
}

.slider-reviews__quote {
  margin: 0;
  max-height: 180px;
  overflow-y: hidden;
  text-indent: 0;

  @media @tablet {
    order: 0;
    flex-basis: 70%;
    max-height: 90px;
    font-size: 18px;
  }

  @media @desktop {
    padding-top: 20px;
  }
}

.slider-reviews__quote-text {
  margin: 0;
  box-sizing: border-box;
}
