.slider-reviews {
  position: relative;
  margin: 0 auto;
  padding: 29px 20px;
  box-sizing: border-box;
  text-align: center;

  @media @tablet {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media @desktop {
    padding-top: 155px;
    padding-bottom: 40px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 68px;
    background-size: 79px 63px;
  }
}

.slider-reviews__slide-wrapper {
  margin: 0 auto;
  max-width: @desktop-width;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.slider-reviews__button {
  margin-top: 35px;
  display: none;
  width: 41px;
  height: 41px;
  background: none;
  border: none;
  border-bottom: 2px solid #283645;
  opacity: 0.3;
  cursor: pointer;

  @media @desktop {
    display: block;
  }

  &:hover {
    opacity: 0.6;
  }
}

.slider-reviews__button--back {
  margin-left: auto;
  border-left: 2px solid #283645;
  transform: rotate(45deg);

  @media @desktop {
    order: 0;
  }
}

.slider-reviews__button--forward {
  margin-right: auto;
  border-right: 2px solid #283645;
  transform: rotate(-45deg);

  @media @desktop {
    order: 2;
  }
}

.slider-reviews__slide {
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  line-height: 30px;

  @media @tablet {
    padding: 0 20px 26px;
    max-width: @tablet-width;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }

  @media @desktop {
    margin: 0 auto;
    padding: 0;
    max-width: @desktop-width - 240;
    order: 1;
  }
}

.slider-reviews__author {
  margin: 5% 0;
  flex-basis: 10%;
  font-size: 18px;
  font-weight: bold;
  color: #000000;

  @media @tablet {
    order: 1;
    font-size: 20px;
  }

  @media @desktop {
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
  }
}


.slider-reviews__author-description {
  display: none;

  @media @tablet {
    order: 2;
    margin: 0;
    flex-basis: 10%;
    display: block;
  }

  @media @desktop {
    font-size: 18px;
  }
}

.slider-reviews__quote {
  margin: 0;
  min-height: 180px;
  box-sizing: border-box;
  overflow-y: hidden;
  text-indent: 0;

  @media @tablet {
    order: 0;
    max-height: 90px;
    font-size: 18px;
  }

  @media @desktop {
    padding: 20px 66px 0;
    max-width: @desktop-width - 380;
  }
}

.slider-reviews__quote-text {
  margin: 0;
  box-sizing: border-box;
}
