.social-links {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.social-links__item {
  margin: 0 6px;
  flex: auto;

  @media @tablet {
    margin: 0 3px 0 9px;
  }

  @media @desktop {
    margin: 0 2px 0 10px;
  }
}

.social-links__link {
  display: flex;
  width: 44px;
  height: 43px;
  color: @pink;
  border-width: 3px;
  border-style: solid;
  border-color: fade(@dark-blue, 10%);
  border-radius: 50%;
  background-color: transparent;

  &:hover {
    border-color: @dark-blue;
  }

  &:active {
    border-color: fade(@dark-blue, 40%);
    opacity: 0.3;
  }
}

.social-links__link svg {
  display: block;
  margin: auto;
}
