.social-links {
  display: flex;
  width: 172px;
  justify-content: center;
  padding: 39px 0;
  list-style: none;

  @media @tablet {
    padding: 0;
  }

  @media @desktop {
    max-width: @desktop-width / 2;
  }
}

.social-links__item {
  margin: 0 6px;
  flex: auto;

  @media @tablet {
    margin: 0 3px 0 9px;
  }

  @media @desktop {
    margin: 0 2px 0 10px;
  }
}

.social-links__link {
  display: block;
  width: 45px;
  height: 45px;
  color: @pink;
  text-align: center;
  text-decoration: none;
  border-width: 3px;
  border-style: solid;
  border-color: fade(@dark-blue, 10%);
  border-radius: 50%;
  background-color: transparent;

  &:hover {
    border-color: @dark-blue;
  }

  &:active {
    border-color: fade(@dark-blue, 40%);
    opacity: 0.3;
  }
}

.social-links__link img {
  position: relative;
  display: block;
  top: 25%;
  left: 50%;
}
