.store__content {
//  display: flex;
//  flex-direction: column;
  position: relative;
  padding: 0 20px;
  background-color: transparent;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 176px;
}

.store__title {
  padding: 0 30px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  top: 95px;
}

.store__button {
  display: block;
  box-sizing: border-box;
  position: relative;
  top: 38px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 58px;
  padding-right: 59px;
  border: 3px solid #ffffff;
  border-radius: 29px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 18px;
  background-color: transparent;
}

.store__list {
//  display: flex;
//  justify-content: space-around;
//  align-items: center;
  list-style: none;
  padding: 0 58px;
  margin-top: 45px;
  margin-bottom: 38px;
}

.store__item {
  display: block;
  margin: 0 12px;
  align-self: flex-start;
  flex-grow: 1;
}

.store__link {
  display: block;
  width: 56px;
  height: 56px;
}

.store__description {
  margin: 0 20px;
  padding: 0 15px;
  top: 28px;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
