.border-black-x {
  border-top: 1px solid @black;
  border-bottom: 1px solid @black;
}

.border-black-y {
  border-left: 1px solid @black;
  border-right: 1px solid @black;
}

.outline-layout-green {
  outline: @green dotted 1px;
  outline-offset: 1px;
}

.outline-layout-red {
  outline: @red solid 5px;
  outline-offset: -5px;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  min-width: @mobile-width;
  max-width: @desktop-width;

  @media @desktop {
    padding-left: 10px;
    padding-right: 10px;
  }
}
