.border-black-x {
  border-top: 1px solid @black;
  border-bottom: 1px solid @black;
}

.border-black-y {
  border-left: 1px solid @black;
  border-right: 1px solid @black;
}

.outline-layout-green {
  outline: @green dotted 1px;
  outline-offset: 1px;
}

.outline-layout-red {
  outline: @red solid 5px;
  outline-offset: -5px;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  min-width: @mobile-width;

  @media @desktop {
    padding-left: 10px;
    padding-right: 10px;
  }
}

// применение базовых стилей для input
.track(@track-w; @track-h) {
  box-sizing: border-box;
  border: 0;
  width: @track-w;
  height: @track-h;
}

.thumb(@thumb-d) {
  box-sizing: border-box;
  border: 2px solid @pink;
  width: @thumb-d;
  height: @thumb-d;
  border-radius: 50%;
  background-color: @white;
  cursor: pointer;
}

.range-active() {
  background-color: @pink;
}

.range-focus() {
  outline: @pink dashed 1px;
  outline-offset: 0;
}

.style-reset--input(@track-w; @track-h; @thumb-d) {
  padding: 0;
  margin: 0;
  box-shadow: none;
  background: transparent;
  color: inherit;
  overflow: visible;
  letter-spacing: inherit;

  &,
  &::-webkit-slider-thumb {
    appearance: none;
  }

  &:active {
    &::-webkit-slider-thumb {
      .range-active();
    }

    &::-moz-range-thumb {
      .range-active();
    }

    &::-ms-thumb {
      .range-active();
    }
  }

  &:focus {
    .range-focus();
  }

  &::-webkit-slider-runnable-track {
    .track(@track-w; @track-h);
  }

  &::-moz-range-track {
    .track(@track-w; @track-h);
  }

  &::-ms-track {
    color: transparent;
    .track(@track-w; @track-h);
  }

  &::-webkit-slider-thumb {
    .thumb(@thumb-d);
    margin-top: -6.5px;
  }

  &::-moz-range-thumb {
    .thumb(@thumb-d);
    margin-top: -14px;
  }

  &::-ms-thumb {
    margin-top: 0;
    .thumb(@thumb-d);
  }

  &::-moz-focus-outer {
    border: none;
  }
}
