@pink: #d22856;
@dark-blue: #283645;
@black: #000000;
@white: #ffffff;

.border-black-x {
  border-top: 1px solid @black;
  border-bottom: 1px solid @black;
}

.border-black-y {
  border-left: 1px solid @black;
  border-right: 1px solid @black;
}
